# Environment variables
.env

# IDE config files
.vscode

# Ignore all minecraft files by default
/data/*
# Except .gitkeep file
!/data/.gitkeep

# Ignore dynmap map web server files
/nginx/html/map/*
